body {
  background: burlywood;
  border: double;
  border-color: beige;

}
p {
  color: rgb(120,120,120);
  font-family: monospace;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
h1 {
  font-weight: bold;
  color: beige;
  font-family: inherit;
  margin-left: 10px;
  margin-right: 10px;
}
h2 {
  font-weight: bold;
  color: antiquewhite;
  font-family: monospace;
  margin-left: 10px;
  margin-right: 10px;
}
.pghead {
  color: rgb(255,220,190);
  font-family: monospace;
  margin-left: 10px;
  margin-right: 10px;
}
